/* Scrollbar estilos */
aside::-webkit-scrollbar,
main::-webkit-scrollbar {
	width: 6px;
}
aside::-webkit-scrollbar-track,
main::-webkit-scrollbar-track {
	background: #f5f5f4;
}
aside::-webkit-scrollbar-thumb,
main::-webkit-scrollbar-thumb {
	background: #d6d3d1;
	border-radius: 3px;
}
aside::-webkit-scrollbar-thumb:hover,
main::-webkit-scrollbar-thumb:hover {
	background: #a8a29e;
}

/* Dark mode scrollbar */
:global(.dark) aside::-webkit-scrollbar-track,
:global(.dark) main::-webkit-scrollbar-track {
	background: #1f2937;
}
:global(.dark) aside::-webkit-scrollbar-thumb,
:global(.dark) main::-webkit-scrollbar-thumb {
	background: #4b5563;
}
:global(.dark) aside::-webkit-scrollbar-thumb:hover,
:global(.dark) main::-webkit-scrollbar-thumb:hover {
	background: #6b7280;
}
