---
import "../styles/global.css";
---
<div id="container">
	<main>
		<section id="hero">
			<h1>
				To get started, open the <code><pre>src/pages</pre></code> directory in your project.
			</h1>
			<h1 class="text-3xl font-bold text-center text-blue-600">
				¡Hola Mundo con Astro y Tailwind!
			</h1>
		</section>
	</main>
</div>